/* IMPORTA FONTES GOOGLE*/
/* titulo */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
/* corpo */
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fonte-titulo: "Libre Franklin", sans-serif;
    --fonte-corpo: "Hind Vadodara", sans-serif;
    --verde-escuro: #283618;
    --verde-claro: #606c38;
    --off-white: #fcfbf4;
    --branco: #f1f1f1;
    --laranja-escuro: #bc6c25;
    --laranja-medio:#cc7325;
    --laranja-claro: #dda15e;
    --preto: #0a0908;
    --grafite: #231f20;
}

body {
    font-family: var(--fonte-corpo);
    color: var(--preto) !important;
}

h1 {
    color: var(--preto);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--fonte-titulo);
}

h1 {
    font-weight: 800;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--preto);
}

a:hover {
    text-decoration: underline;
    color: var(--grafite);
}

button {
    margin: 1em 1em 1em 0;
}

.btn-outline-success {
    background-color: var(--off-white);
}

/* NAVBAR/MENU */

.navbar {
    background-color: var(--off-white) !important;
}

.nav-icon {
    max-width: 50px;
    max-height: 50px;
}

.nav-marca {
    display: flex;
    align-items: center;
}

.icone-nav {
    width: 24px;
    margin-right: 0.5em;
}

/* SECAO PESQUISA */
.secao-pesquisa {
    padding: 1em;
    background-color: var(--verde-claro);
    color: var(--off-white) !important;
}

/* SECAO OFERTAS */
.secao-ofertas {
    padding: 1em;
}

.secao-cards {
    /* display: flex; */
    justify-content: space-around;
}
.card {
    margin: 1em 0;
}

/* SECAO PASSEIOS */
.secao-passeios {
    padding: 1em;
}

.secao-carousel {
    display: flex;
    justify-content: center;
}
.carousel img{
    max-width: 709px;
}

.carousel {
    text-shadow: 2px 2px 4px var(--preto);
}

/* SECAO OFERTAS */
.secao-passagens {
    margin: 0 1em;
    
}
.secao-card-passagens {
    justify-content: space-around;
}
.preco-favorito{
    display: flex;
    justify-content: space-between;
}

.preco-favorito img {
    width: 23.98px;
    height: 23.98px;
    cursor: pointer;
}

/* SECAO RODAPE */
.secao-rodape, .secao-direitos{
    padding: 1em;
    background-color: var(--verde-claro);
}


.secao-rodape-div{
    display: flex;
    justify-content: space-around;
}

.secao-rodape-div ul {
    padding: 0.75em;
}
.secao-direitos {
    padding: 2em 0 1em 0;
    text-align: center;
}