/* IMPORTA FONTES GOOGLE*/
/* titulo */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
/* corpo */
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fonte-titulo: "Libre Franklin", sans-serif;
    --fonte-corpo: "Hind Vadodara", sans-serif;
    --verde-escuro: #283618;
    --verde-claro: #606c38;
    --off-white: #fcfbf4;
    --branco: #f1f1f1;
    --laranja-escuro: #bc6c25;
    --laranja-medio:#cc7325;
    --laranja-claro: #dda15e;
    --preto: #0a0908;
    --grafite: #231f20;
}

body {
    font-family: var(--fonte-corpo);
    color: var(--preto) !important;
}

h1 {
    color: var(--preto);
}

h1,
h2,
h3 {
    font-family: var(--fonte-titulo);
}

h1 {
    font-weight: 800;
}

button {
    margin: 1em 1em 1em 0;
}

.btn-outline-success {
    background-color: var(--off-white);
}

/* NAVBAR/MENU */

.navbar {
    background-color: var(--off-white) !important;
}

.nav-icon {
    max-width: 50px;
    max-height: 50px;
}

.nav-marca {
    display: flex;
    align-items: center;
}

.icone-nav {
    width: 24px;
    margin-right: 0.5em;
}

/* SECAO PESQUISA */
.secao-pesquisa {
    padding: 1em;
    background-color: var(--verde-claro);
    color: var(--off-white) !important;
}