
/* tela-1175 */

.container-info .card {
    background-color: var(--off-white)!important;
}

.tag-card-voo {
    cursor: default!important;
}

.container-info-texto {
    display: flex;
}

.card-passagem {
    display: flex;
}

.info-passagem-1 {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 0.5em;
}

.info-passagem-2 {
    width: 15%;
    margin: 0.5em;
}

.preco-div {
    border-left: solid 1px var(--grafite);
    padding: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.passagem-info {
    margin: 0 0.75em 0 0;
    padding-left: 0.75em;
}

.horario {
    width: 20%;
    padding: 0.5em;
}

.info-flex {
    display: flex;
    padding: 0.5em;
}

.aventura {
    padding-left: 0.35em;
}

/* tela max 1774*/
@media only screen and (max-width: 1774px) {
    .card-passagem {
        flex-direction: column;        
    }
    .info-passagem-1 {
        width: 100%;
    }
    .info-passagem-1 {
        width: 100%;
    }
    
    .info-passagem-2 {
        width: 100%;
    }
    .horario {
        width: 100%;
    }

    .preco-div {
        width: 100%;
        border-top: solid 1px var(--grafite);
        border-left: none;
        padding: 2em 0 2em 0;
    }
    
}

/* tela max 500*/
@media only screen and (max-width: 500px) {
    .container-info-texto, .card-passagem{
        padding: 0;
    }
    .col-sm-12 {
        justify-content: center!important;
        width: 88%!important;
    }
}