.container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

.titulo-info, .p-info {
    padding: 0.2em 0;
}