.container-info{
    display: flex;
    justify-content: space-evenly;
}


.container-info-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

.titulo-info, .p-info {
    padding: 0.2em 0;
}

.box-dia {
    display: inline-block;
    border: solid 1px var(--grafite);
    padding: 0 0.5em;
    margin: 0.2em;
}

.container-lateral {
    margin: 0.3em 0;
}

.texto-preco {
    display: inline-block;
    border-radius: 0.375rem;;
    padding: 0.3em ;
    background-color: var(--off-white);
    border: solid 1px var(--laranja-escuro);
}